.tab-trapezoid {
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    padding: 3px 20px;
    margin-right: -4px;
    background-color: rgb(223 223 223);
    color: #000000;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-weight: bolder;
    text-decoration: none;
}

.tab-trapezoid:hover {
    background-color: #cfd4da;
}

.tab-trapezoid.active {
    background-color: #009cff;
    color: #f7f7f7;
}

.select2-results__option img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.select2-container--open,
.select2-dropdown {
    z-index: 9999 !important;
}

.select2-selection--single:hover {
    border-color: #007bff;
    box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3);
}

.select2-selection--single:focus {
    border-color: #007bff;
    box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3);
}

.select2-dropdown {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    max-height: 250px;
    overflow-y: auto;
}

.select2-results__option {
    padding: 8px 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.select2-results__option:hover {
    background-color: #f0f8ff;
    color: #007bff;
}

.select2-results__option[aria-selected="true"] {
    background-color: #007bff;
    color: #fff;
}

.select2-container {
    width: 100%;
    display: block;
    flex: 1 1 auto;
    min-width: 0;
}

.select2-selection {
    height: 60px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.input-group .select2-container {
    display: inline-block;
    max-width: 14rem;
    width: 14rem !important;
}

.select2-selection {
    height: 100% !important;
    min-height: 38px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 8px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    font-size: initial;
}

.select2-container--open .select2-search__field {
    outline: none !important; /* hilangkan garis hitam */
}

.bg-khaki {
    background-color: #dbffcc !important;
}

.filterCustom {
    padding: 5px 5px 0px 5px;
}

.back-to-top2 {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: #0d6efd;
    color: white;
    border-radius: 0;
    z-index: 999;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.back-to-top2:hover {
    background: #093e8d;
    color: white;
}

/* Ukuran Kolom */
/* Dashboard */
.column-nomor {
    width: 3%;
}
.column-name {
    width: 40%;
}

.column-minimum {
    width: 20%;
}

.column-sisa {
    width: 20%;
}

.column-satuan {
    width: 10%;
}
.column-nomor2 {
    width: 3%;
}
.column-name2 {
    width: 30%;
}

.column-section {
    width: 10%;
}

.column-minimum2 {
    width: 20%;
}

.column-sisa2 {
    width: 20%;
}

.column-satuan2 {
    width: 10%;
}

/* Barang */
.column-nomor-brg {
    width: 3%;
}

.column-image-brg {
    width: 5%;
}
.column-name-brg {
    width: 10%;
}

.column-description-brg {
    width: 10%;
}

.column-awal-brg {
    width: 5%;
}

.column-masuk-brg {
    width: 5%;
}

.column-totalB-brg {
    width: 5%;
}

.column-keluar-brg {
    width: 5%;
}

.column-sisa-brg {
    width: 5%;
}

.column-minimum-brg {
    width: 5%;
}

.column-satuan-brg {
    width: 5%;
}

.column-action-brg {
    width: 10%;
}

/* Bahan */
.column-nomor-bhn {
    width: 3%;
}

.column-image-bhn {
    width: 5%;
}

.column-name-bhn {
    width: 10%;
}

.column-description-bhn {
    width: 10%;
}

.column-awal-bhn {
    width: 5%;
}

.column-masuk-bhn {
    width: 5%;
}

.column-terpakai-bhn {
    width: 5%;
}

.column-sisa-bhn {
    width: 5%;
}

.column-akhir-bhn {
    width: 5%;
}

.column-terbuang-bhn {
    width: 5%;
}

.column-minimum-bhn {
    width: 5%;
}

.column-satuan-bhn {
    width: 5%;
}

.column-catatan-bhn {
    width: 10%;
}

.column-action-bhn {
    width: 10%;
}

/* Master Bahan */
.column-nomor-bhnMaster {
    width: 3%;
}

.column-image-bhnMaster {
    width: 5%;
}

.column-name-bhnMaster {
    width: 10%;
}

.column-description-bhnMaster {
    width: 10%;
}

.column-minimum-bhnMaster {
    width: 5%;
}

.column-satuan-bhnMaster {
    width: 5%;
}

.column-action-bhnMaster {
    width: 4%;
}

/* Menu & Transaksi */
.column-nomor-menuT {
    width: 3%;
}
.column-image-menuT {
    width: 5%;
}
.column-name-menuT {
    width: 10%;
}
.column-description-menuT {
    width: 10%;
}
.column-bahan-menuT {
    width: 20%;
}
.column-action-menuT {
    width: 4%;
}
.column-jumlah-menuT {
    width: 5%;
}

/* Masuk Keluar All */
.column-nomor-MKall{
    width: 3%;
}
.column-date-MKall{
    width: 5%;
}
.column-name-MKall{
    width: 10%;
}
.column-type-MKall{
    width: 3%;
}
.column-jumlah-MKall{
    width: 5%;
}
.column-satuan-MKall{
    width: 5%;
}
.column-keterangan-MKall{
    width: 10%;
}
.column-user-MKall{
    width: 10%;
}
.column-action-MKall{
    width: 3%;
}

/* End Ukuran Kolom */
